# Banco de Dados
POSTGRES_PASSWORD=SENHA_DO_BANCO

# Pagamentos (integração externa)
PAYMENT_GATEWAY_URL=URL_DA_API_DE_PAGAMENTOS
PAYMENT_GATEWAY_KEY=SUA_CHAVE_DE_API_AQUI

# Observabilidade
OTEL_EXPORTER_OTLP_ENDPOINT=URL_DO_JAEGER:PORTA 